a {
    text-decoration: none;
    color: black;
    }
a:hover {
    color: blue;
    }
text {
	font-size: 50;
}
button {
	font-size: 50;
}
input {
	font-size: 50
}
h3 {
	font-size: 60
}
h1 {
	font-size: 80
}
li {
	font-size: 50
}
.latexcode {
	font-size: 20
}
ul li {
	margin: 30 20
}
ol li {
	margin: 30 20
}
button {
	color: blue;
	background-color: white;
	border: 3px solid blue;
	border-radius: 7px;
	transition-duration: 0.8s;
	font-family: courier new;
}
button:hover {
	background-color: lightcyan;
}
button:active {
	background-color: skyblue;
	transition-duration: 0.1s;
}
textarea {
	border: 1px solid blue;
	border-radius: 10px;
}
input {
	border: 1px solid blue;
	border-radius: 5px;
	font-size: 30pt;
}
select {
	border: 1px solid blue;
	border-radius: 5px;
	font-size: 30pt;
	font-family: courier new;
}